.root {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-palette-white);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
}

.content {
  text-align: center;
  animation: var(--animate-when-solved);
  background-color: var(--color-palette-black);
  box-shadow: 0 0 25px var(--color-palette-white);
  padding: 1.5rem;
}
