:root {
  --color-palette-black: #000;
  --color-palette-white: #fff;
  --color-palette-green: #0f0;

  --button-color: var(--color-palette-black);
  --button-text-color: var(--color-palette-white);

  --animation-party: party 5s linear infinite;

  --animate-when-solved: none;
}

.solved {
  --animate-when-solved: var(--animation-party);
}

button {
  animation: var(--animate-when-solved);
  background-color: var(--button-color);
  border: 1px solid var(--button-text-color);
  color: var(--button-text-color);
  padding: 10px;
}

.app {
  position: relative;
  background-color: #000;
  text-align: center;
  height: 100%;
  width: 100%;
}

.restart {
  position: absolute;
  top: 25px;
  right: 25px;
}

.hint {
  position: absolute;
  top: 25px;
  left: 25px;
}

.solver-form .solver-input button {
  background-color: var(--button-color);
}

.grid {
  transition: filter 1s;
}

.solving .grid {
  filter: brightness(0.6) blur(10px);
}

.general .grid {
  filter: brightness(1) blur(0px);
}

@keyframes :global(party) {
  0% {
    box-shadow: 0 0 10px #f00;
  }
  8% {
    box-shadow: 0 0 20px #ff0;
  }
  16% {
    box-shadow: 0 0 30px #0f0;
  }
  24% {
    box-shadow: 0 0 20px #0ff;
  }
  32% {
    box-shadow: 0 0 10px #00f;
  }
  40% {
    box-shadow: 0 0 20px #f0f;
  }
  48% {
    box-shadow: 0 0 30px #f00;
  }
  56% {
    box-shadow: 0 0 20px #ff0;
  }
  64% {
    box-shadow: 0 0 10px #0f0;
  }
  72% {
    box-shadow: 0 0 20px #0ff;
  }
  80% {
    box-shadow: 0 0 30px #00f;
  }
  88% {
    box-shadow: 0 0 20px #f0f;
  }
  100% {
    box-shadow: 0 0 10px #f00;
  }
}
