.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.form {
  color: #fff;
  text-shadow: -1px -1px #000, -1px 0 #000, -1px 1px #000, 0 -1px #000,
    0 1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000;
}

.input {
  margin-bottom: 25px;
}

.form .input button {
  border-left-width: 0;
  border-radius: 0 10px 10px 0;
}

.form .input input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px 0 0 10px;
  border-right-width: 0;
  width: 300px;
}

.form .input input:focus {
  outline: none;
}

.solved button {
  background-color: #0f0;
  content: "Solved!";
}
