.App {
  position: relative;
  background-color: #000;
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.restart {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
}

.solver {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.solver-form {
  color: #fff;
  text-shadow: -1px -1px #000, -1px 0 #000, -1px 1px #000, 0 -1px #000,
    0 1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000;
}

.solver-input {
  margin-bottom: 25px;
}

button {
  padding: 10px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.solved .solver-form .solver-input button {
  background-color: #0f0;
  content: "Solved!";
}
.solver-form .solver-input button {
  border-radius: 0 10px 10px 0;
}

.solver-form .solver-input input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px 0 0 10px;
  width: 300px;
}

.solver-form .solver-input input:focus {
  outline: none;
}

.grid {
  transition: filter 1s;
}

.solving .grid {
  filter: brightness(0.6) blur(10px);
}

.general .grid {
  filter: brightness(1) blur(0px);
}
