:root {
  --button-color: #000;
}

.solved {
  --button-color: #0f0;
}

.App {
  position: relative;
  background-color: #000;
  text-align: center;
  height: 100%;
  width: 100%;
}

button {
  padding: 10px;
  background-color: var(--button-color);
  border: 1px solid #fff;
  color: #fff;
}

.restart {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
}

.solver-form .solver-input button {
  background-color: var(--button-color);
}

.grid {
  transition: filter 1s;
}

.solving .grid {
  filter: brightness(0.6) blur(10px);
}

.general .grid {
  filter: brightness(1) blur(0px);
}
